body {
    margin: 0;
    padding: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    min-width: 400px;
}

h1 {
    font-family: 'Sunshiney', cursive;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid orange;
    margin-bottom: 0px;
}

button {
    background: orange;
    color: white;
    padding: 10px 20px;
    border: 1px solid orange;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:active {
    background: black;
    color: orangered;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color:orange;
}

#disclaimer {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 10px;
    margin-bottom: 30px;
}

#country {
    margin-top: 0px;
    margin-bottom: 15px;
}

#country-input {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid orange;
}

#date {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#date-input, #date-output {
    margin-left: 5px;
    margin-right: 5px;
}

#check {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px orangered;
    padding-bottom: 15px;
}

#check-btn {
    margin-left: 0px;
}

#clear-btn {
    background-color: red;
}

#clear-btn:active {
    background-color: black;
}

#info {
    border-bottom: solid 2px orangered;
    padding-bottom: 0px;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

#check-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#check-answer {
    margin-bottom: 0;
}